[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
tinydb = "*"
grpcio = "*"
googleapis-common-protos = "*"
wxPython = "*"

[requires]
python_version = "3.6"
